# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
frontend/node_modules/
tournament_scheduler/venv/
tournament_scheduler/__pycache__/
*.pyc

# Production
dist/
frontend/dist/

# OS files
.DS_Store
.DS_Store?
._*
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
